<head>
<title>\\errhere// - \\msghere//</title>
</head>

<style>
    body {
        background-color: black;
        color: white;
        color-scheme: dark;
    }
</style>

Im so fucking happy this overengineered POS works

<h1>\\errhere//</h1> 

\\msghere//