---
import LatestPosts from '../components/LatestPosts.svelte';
import SideBar from '../components/SideBar.svelte';
---

<style>
    body {
        background-color: black;
        color: white;
        color-scheme: dark;
    } 

    #everything {
        display: flex;
        flex-direction: row;
    }
</style>

<head>
    <title>LeaderlessGIT</title>
</head>
<div id="everything">
    <SideBar />
    <LatestPosts client:only="svelte" />
</div>